@import '~src/variables';

.tab-list {
  .state-annule {
    background: $palette-color-two;
  }

  .state-option {
    background: $palette-color-three;
  }

  .state-confirme {
    background: $palette-color-four;
  }

  .actif-actif {
    background: $palette-color-four;
  }

  .actif-inactif {
    background: $palette-color-two;
  }

}

app-template-a {
  app-tableau {
    thead {
      tr {
        background: $dark-color;
        color: $light-color;
      }
    }
  }
}

app-template-b {
  app-tableau {
    thead {
      tr {
        background: $palette-color-one;
        color: $light-color;
      }
    }
  }
}
